---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ROICalculator from '../components/ROICalculator.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import StarsBackground from '../components/StarsBackground.astro';
---

<Layout>
  <StarsBackground />
  <Navbar />
  <main>
    <Hero />
    <ROICalculator />
    <Features />
    <HowItWorks />
    <Pricing />
    <Contact />
  </main>
  <Footer />
</Layout>
